  
         p
         {
             line-height: 1;
         }

.para 
{
    position: absolute;
    background-color:  rgb(246, 167, 138);
    top: 50%;
     left: 0%;
     width: 83%;
}
body {
  font-family: 'Open Sans', sans-serif;
}


 .container 
{
    height: auto;
}
.top
{
    font-size: 20px;
    position: absolute;
    top:0%;
    left:0%;
    width: 100%;
    height: 200px;
    background-color: rgb(246, 167, 138);
}

  .middle
{
    position: absolute;
    top: 200px;
    left: 0%;
    width: 100%;
    height: 200px;
    overflow:none;
    background-color: rgb(218, 60, 186);

}
.ml 
{
    position: absolute;
    top:0%;
    left: 0%;
    width: 50%;
    height: 100%;
    background-color:coral;
}
.mr 
{
    position: absolute;
    top:0%;
    left: 50%;
    width: 50%;
    height: 100%;
    background-color:coral; 
}
.leftt
{
    top:300px;
    left:0%;
    position: absolute;
    width: 50%;
    height: 170%;
    background-color:white;
    overflow: hidden;
   

}
.right
{
    top: 300px;
    left: 50%;
    position: absolute;
    width: 50%;
    height: 150%;
    background-color: white;
    overflow: hidden;
    
}
.skill 
{
  position: absolute;
  background-color: white;
  width:100%;
  height:auto;
}
.lef
{
    top:60px;
    left:0%;
    width:50%;
    position: absolute;
    background-color: white;

}
.rig
{
    top:60px;
    left:50%;
    width:50%;
    position:absolute;
    background-color: white;

}
.interest 
{
  position: absolute;
  top:45vh;
  background-color:white;
  width: 100%;
  height: auto;
}
.li
{
  position: absolute;
    background-color: white;
    top:10vh;
    left:0%;
    width:50%;
    height: auto;
   

}
.rr 
{
    background-color: white;
    top:10vh;
    left: 50%;
    width: 50%;
    height: auto;
    position: absolute;

}
.language 
{
  background-color:white;
  position: absolute;
  width:100%;
  top:70vh
}
.rl
{
    background-color: white;
    top:10vh;
    left:0%;
    width:50%;
    position:absolute;
  
    
}
.ll 
{   background-color: white;
    top:10vh;
    left:50%;
    width:50%;
    position:absolute;


}
.project 
{
    position: absolute;
    background-color: white;
    width: 100%;
    height: 65vh;

}
  .pl 
{
    position: absolute;
    background-color:white;
    height: auto;
    width: 45%;
    left: 0%;
    top:10vh;
} 
 .pr
{
    position: absolute;
    background-color: white;
    height: auto;
    width: 45%;
    
    left:50%;
    top:10vh; 
}      

.name
{
    position: absolute;
    top: 0%;
    left: 0%;
    

}
.photo
{
    position: absolute;
    background-color:  rgb(246, 167, 138);
    top:4%; 
    left:85% ;
    width: 50px ;
    height: 30px;;
}  
.certificate
{
  position: absolute;
  background-color: white;
  width: 100%;
  top:105vh;
}

@media screen and (max-width: 700px)
{
  body
  {
    background-color:rgb(246, 167, 138) ;
  }
  .container
  {
    height: auto;
    background-color:rgb(246, 167, 138) ;
  }
  .top{
    width: 100%;
    height: auto;
    position: absolute;
    background-color: rgb(150, 98, 33);
  }
  .photo
  {
  
    top: 10vh;
    left: 35%;
    
  
  }
  .para 
  {
    top: 35vh;
    width: 100%;
    height: auto;
  }
  .middle
  {
    top:63vh;
    width: 100%;
    height: 130px;
    background-color: aquamarine;
    overflow: none;
  }
  .leftt
  {

    top:82vh;
    width:100%;
  }
  .right
  {
    top: 235vh;
    left: 0%;
    width: 100%;
  }

}



 


 








